body a{
    color:    #3468AD;
}
body a:hover,
body a:focus,
body a:visited{
	color:    #2C4F8F;
}
#browser-title {
	margin-left: 10px;
}

#cmis-link-breadcrumb {
	margin-left: 10px;
}

#cmis-link-breadcrumb > * {
    float: left;
    margin-bottom: 10px;
}
#cmis-link-return {
	margin-left: 10px;
}

#cmis-link-folder-unavailable {
	margin-left: 10px;
}

.table-responsive {
    clear: left;
}

td > img {
	float:left;
	padding-right: 5px;
}

td > a {
	clear: left;
}
#cmis-link-upload-form{
	text-align:     right;
	margin-left:    5px;
	margin-right:   5px;
}
.form-item-files-file{
	display:    inline-block;
}
#edit-file{
	height:         auto;
	padding-top:    1px;
	padding-bottom: 1px;
	display:        inline-block;
	width:          auto;
}
#edit-content-upload-button{
	margin-top:    -2px;
	padding-top:    2px;
	padding-bottom: 2px;
}